body {
  font-family: 'Open Sans', sans-serif;
  background-color: #121212;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  padding: 1rem 0;
}

/*Header*/

.tete {
  height: 100px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 100px;
}

.tete h1{
  margin-left: 150px;
  font-size: 1.5rem;
}

.stat {
  display: inline-block;
  margin: 20px;
  font-size: 18px;
}






header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

h2 {
  text-align: center;

}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input, .form-group textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.subheading {
  text-align: center;
  color: #666;
}


#sidebar {
  width: 250px;
  background-color: #333; 
  position: fixed;
}

#sidebar ul {
  color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul li {
  padding: 10px;
}

#sidebar ul li a {
  text-decoration: none;
  color: white; 
}

#sidebar ul li a:hover {
  color: #FF4500; 
  font-weight: bold;
}

/* Sous-menu */
#sidebar ul ul {
  display: none;
  background-color: #555; 
}

#sidebar ul li:hover > ul {
  display: block;
}

#sidebar ul ul {
  pointer-events: none; 
}

#sidebar ul ul li {
  pointer-events: auto; 
}

#sidebar ul ul li a {
  user-select: none; 
}


article {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

/*Page A Propos*/
.Containers {
  color: #333;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  width: 600px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}

.Containers:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
}

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.Containers h2 {
  text-align: center;
  font-size: 24px;
}

.Containers-liste {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.Containers-liste img {
  width: 200px;
  height: 100px;
  margin-right: 15px;
}


.Containers-liste div {
  flex: 1;
}

.Containers-liste img:hover {
  transform: scale(1.1);
}


/* Footer */
footer {
  margin-top: 100px;
  background-color: #121212;
  padding: 20px;
  text-align: center;
}

footer .site-name {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer-column h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-column a {
  display: block;
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;
}

.social-media img{
  height: 30px;
  width: 30px;
  padding-right: 30px;
}


